<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>
Driver View
</title>
<link rel="shortcut icon" href="{% static "dt/favicon.ico"%}">
<h1 id = "header">This is a placeholder page for the driver view</h1>
</head>

<img hidden = true id = "map" src="{% static "dt/campusmap_crop_resize.jpg" %}"></img>


<body onload="setup()">
<script src="{% static "dt/driverScript.js" %}"></script>
<p id="label">These are some functional buttons that should help you.</p>
<button type="button" onclick="hideMap()">Driver break button.</button>
<button type="button" onclick="showMap()">Driver return button.</button>
</body>

</html>
